<h4>textarea</h4>
<ly-textarea [style.vertical-align]="position" label="Message...">
  <ly-before>
    <a ly-icon-button (click)="_message.focus()">
      <ly-svg src="assets/svg/ic_mail_outline_48px.svg"></ly-svg>
    </a>
  </ly-before>
  <textarea #_message [disabled]="disabled" [(ngModel)]="message" label="Message" rows="5"></textarea>
  <ly-hint>Hint</ly-hint>
</ly-textarea>
<button ly-button (click)="disabled = !!disabled === false ? true : false">disabled all</button>
<button ly-button (click)="_message.focus()" [disabled]="disabled">focus</button>
<button ly-button (click)="_message.select()" [disabled]="disabled">select</button>
<br />
<inline-text>position</inline-text>
<ly-radio-group [(ngModel)]="position">
  <ly-radio value="top">top</ly-radio>
  <ly-radio value="middle" checked="true">center</ly-radio>
  <ly-radio value="inherit">bottom</ly-radio>
</ly-radio-group>
<h4>input</h4>
<div [ngStyle]="styles">
  <ly-input [default]="16" [style.width.px]="125" label="Size">
    <input [(ngModel)]="num" [disabled]="disabled" type="number">
  </ly-input>
</div>
<div [ngStyle]="styles">
  <inline-text>Hi </inline-text>
  <ly-input>
    <input [(ngModel)]="text" [disabled]="disabled">
    <ly-label>Name</ly-label>
  </ly-input>
</div>
<h4>colors</h4>
<ly-input inputColor="primary" label="primary">
  <input [(ngModel)]="value">
</ly-input>
<ly-input inputColor="accent" label="accent">
  <input [(ngModel)]="value">
</ly-input>
<ly-input inputColor="other" label="other">
  <input [(ngModel)]="value">
</ly-input>
<ly-input [inputColor]="color" [label]="color">
  <input [(ngModel)]="color" #_inputColor>
</ly-input>
<button ly-button (click)="changeColor(); _inputColor.focus()">
  Change
  <ly-icon-button>
    <ly-svg src="assets/svg/Brush.svg"></ly-svg>
  </ly-icon-button>
</button>
<h4>Full width</h4>
<ly-text-field class="full" label="Label">
  <input type="text" [(ngModel)]="full">
</ly-text-field>
