:host {
  position: relative;
  display: block;
}
.tab-container {
  padding: 48px 24px 24px 24px;
}
.tab-content {
  padding: 24px 24px 0 24px;
}
.code {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
