<!-- <div [elevation]="3" shadowColor="background:secondary" bg="background:tertiary"> -->
<ly-card [elevation]="3" shadowColor="background:secondary" bg="background:tertiary">
  <div class="code">
    <button ly-button appearance="icon" (click)="openPostStackblitz($event)"><ly-icon>launch</ly-icon></button>
    <button ly-button appearance="icon" (click)="toggleCode()"><ly-icon src="assets/svg/code"></ly-icon></button>
  </div>
  <ly-tabs *ngIf="hasCode">
    <ly-tab *ngFor="let file of files; let i = index">
      <ly-tab-label>{{ file.label }}</ly-tab-label>
      <prism [withClass]="classes.codeContainer" [code]="file.text | async" [language]="file.ext" class="tab-content">Loading...</prism>
    </ly-tab>
  </ly-tabs>
  <div class="tab-container">
    <ng-content></ng-content>
  </div>
</ly-card>
