<div ly-paper
  [elevation]="8"
  shadowColor="demoBg"
  bg="background:tertiary"
>
  <div [className]="classes.code">
    <button
      ly-button
      appearance="icon"
      [raised]="hasCode"
      [elevation]="hasCode ? 1 : null"
      (click)="toggleCode()"
      [lyTooltip]="'View source'"><ly-icon icon="code"></ly-icon></button>
    <button
      [style.margin]="'0 8px'"
      ly-button
      appearance="icon"
      [raised]="hasCode"
      [elevation]="hasCode ? 1 : null"
      (click)="openPostStackblitz()"
      [lyTooltip]="'Edit in Stackblitz'"><ly-icon>launch</ly-icon></button>
  </div>
  <div
    ly-paper
    bg="codeBg"
    *ngIf="hasCode">
    <ly-tabs
      [indicatorColor]="'primary'"
      [textColor]="'primary'"
      [elevation]="8"
      [shadowColor]="'demoBg'"
      scrollable
    >
      <ly-tab *ngFor="let file of files; let i = index">
        <button ly-tab-label>{{ file.label }}</button>
        <div [withClass]="classes.codeContainer" [innerHTML]="file.text | async">Loading...</div>
      </ly-tab>
    </ly-tabs>
  </div>
  <div [className]="classes.tabContainer">
    <ng-content></ng-content>
  </div>
</div>
