<div ly-shadow shadowColor="#c5c5c5" scale="5" bg="main">
  <ly-toolbar toolbarColor="colorText" *ngIf="viewLabel" ly-dense toolbarBg="#f0f0f0" [style.font-size.px]="16">
    <ly-toolbar-item ly-toolbar-item-padding>{{ viewLabel }}</ly-toolbar-item>
  </ly-toolbar>
  <div class="code">
    <button [size]="'20px'" ly-icon-button (click)="toggleCode()"><ly-svg size="20px" src="assets/svg/code"></ly-svg></button>
  </div>
  <ly-tabs *ngIf="hasCode">
    <ly-tab *ngFor="let file of files; let i = index">
      <ly-tab-label>{{ file.label }}</ly-tab-label>
      <div class="tab-content" [innerHTML]="file.text | async | prism: file.ext"></div>
    </ly-tab>
  </ly-tabs>
  <div class="tab-container">
    <ng-content></ng-content>
  </div>
</div>
