<h4>Github</h4>
<ly-input floatLabel="github">
  <ly-before>
    <a (click)="_github.select()" ly-icon-button>
      <ly-svg src="assets/svg/social/social-color-1_logo-github.svg"></ly-svg>
    </a>
    <span>github.com/</span>
  </ly-before>
  <input #_github [(ngModel)]="github">
  <ly-after>
    <a [href]="'https://github.com/' + github" target="_blank" ly-icon-button>
      <ly-svg size="18px" src="assets/svg/ic_launch_24px.svg"></ly-svg>
    </a>
  </ly-after>
</ly-input>
<h4>Mobile</h4>
<ly-input class="mobile">
  <ly-before>
    <a ly-icon-button (click)="_mobile.focus()">
      <ly-svg src="assets/svg/Mobile.svg"></ly-svg>
    </a>
    <span>+51</span>
  </ly-before>
  <input #_mobile [(ngModel)]="mobile" placeholder="Mobile" type="text">
</ly-input>
<h4>Message</h4>
<ly-textarea>
  <ly-before>
    <a ly-icon-button (click)="_message.select()">
      <ly-svg src="assets/svg/ic_mail_outline_48px.svg"></ly-svg>
    </a>
  </ly-before>
  <textarea #_message [(ngModel)]="message" placeholder="Hi..." floatLabel="Message"></textarea>
</ly-textarea>
