# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/.tmp
/dist-amb
/dist-server
/build
/out-tsc
/docs-content
/src/api

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/git

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# yarn files
yarn-error.log

# firebase files
firebase-debug.log

#others
publish.sh
/others
