variables:
  YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn

trigger:
- master

jobs:
- job: BuildApp
  displayName: Build App
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '16.x'
  - script: |
      curl -o- -L https://yarnpkg.com/install.sh | bash
    displayName: "Install Yarn"
  - task: CacheBeta@1
    inputs:
      key: yarn | $(Agent.OS) | yarn.lock
      path: $(YARN_CACHE_FOLDER)
    displayName: "Cache Yarn packages"
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        set -e
        . ci/setup.sh
        yarn --frozen-lockfile
      noRc: false
    displayName: "Install Dependencies"
  - bash: |
      set -e
      . ci/setup.sh
      export MSG=$(ts-node --esm --project ./tools/tsconfig.tn.json tools/src/commit-msg.ts)
      npx ts-node --esm --project ./tools/tsconfig.tn.json tools/*/bump-version.ts
      yarn global add serve

      yarn tools:prepare-lib
      yarn build:ci
    displayName: 'Build App'
  - task: PublishPipelineArtifact@1
    inputs:
      path: 'dist/alyle-ui'
      artifact: WebApp

- job: BuildDocsAndArtifacts
  displayName: Build docs & artifacts
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '16.x'
  - bash: |
      set -e
      yarn build:@alyle/ui
    displayName: build:@alyle/ui
  - script: |
      set -e
      yarn tools:docs-api
    displayName: Build docs-content
  - task: PublishPipelineArtifact@1
    inputs:
      path: 'dist/@alyle/ui'
      artifact: alyle-ui-pkg
