<h4>bg</h4>
<div class="item">
  <div bg="primary"></div>
  <span>bg="primary"</span>
</div>
<div class="item">
  <div bg="accent"></div>
  <span>bg="accent"</span>
</div>
<div class="item">
  <div bg="warn"></div>
  <span>bg="warn"</span>
</div>
<div class="item">
  <div bg="background"></div>
  <span>bg="background"</span>
</div>
<div class="item">
  <div bg="background:primary"></div>
  <span>bg="background:primary"</span>
</div>
<div class="item">
  <div bg="background:secondary"></div>
  <span>bg="background:secondary"</span>
</div>
<div class="item">
  <div bg="background:tertiary"></div>
  <span>bg="background:tertiary"</span>
</div>
<h4>color</h4>
<div prism language="html" [code]="demo('color', 'primary', ' ·I am Primary· ')" color="primary"></div>
<div prism language="html" [code]="demo('color', 'accent', ' ·I am Accent· ')" color="accent"></div>
<div prism language="html" [code]="demo('color', 'warn', ' ·I am Warn· ')" color="warn"></div>
<div prism language="html" [code]="demo('color', 'green', ' ·I am Green· ')" color="green"></div>
<div prism language="html" [code]="demo('color', '#00bcd4', ' ·I am Cyan · ')" color="#00bcd4"></div>
<h4>from palette</h4>
<div prism language="html" [code]="demo('color', 'lightGreen', ' ·I am Light green · ')" color="lightGreen"></div>

<h4>Auto contrast</h4>
<p>
  Requires [bg] to work
</p>
<span bg="primary" color="auto">bg="primary" color="auto"</span>
<span bg="accent" color="auto">bg="primary" color="auto"</span>

<p>
  In button, toolbar and other components the auto contrast is activated
</p>

<h4>Change</h4>
<input type="text" [(ngModel)]="color">
<div [bg]="color">bg</div>
<div [color]="color">color</div>

