<h4>bg</h4>
<p>
  <span bg="primary">`primary`</span>
</p>
<p>
  <span bg="accent">`accent`</span>
</p>
<p>
  <span bg="other">`other`</span>
</p>
<h4>color</h4>
<p>
  <span color="primary">`primary`</span>
</p>
<p>
  <span color="accent">`accent`</span>
</p>
<p>
  <span color="other">`other`</span>
</p>

<h4>from palette</h4>
<span bg="primary:150">primary:150</span>
<span bg="primary:800">primary:800</span>
<div bg="myColor">myColor</div>
<div bg="colorText">colorText</div>
<div bg="#f0f0f0">#f0f0f0</div>

<h4>Change</h4>
<input type="text" [(ngModel)]="color">
<div [bg]="color">bg</div>
<div [color]="color">color</div>
