<ly-tabs [(selectedIndex)]="selectedIndex">
  <ly-tab>
    <button ly-button ly-tab-label>
      Brush
      <span ly-icon-button>
        <ly-icon src="assets/svg/Brush"></ly-icon>
      </span>
    </button>
    <div class="content">
      Content
      <button ly-button>asdasd</button>
    </div>
  </ly-tab>
  <ly-tab>
    <button ly-button ly-tab-label (click)="action()">Event</button>
    <div class="content">
      Content
    </div>
  </ly-tab>
  <ly-tab>
    <ly-tab-label ly-button>
      <span ly-icon-button>
        <ly-icon src="assets/svg/Brush"></ly-icon>
      </span>
      Brush
    </ly-tab-label>
    <div class="content">
      Content
    </div>
  </ly-tab>
</ly-tabs>
<ly-tabs bg="accent" color="#fff">
  <ly-tab *ngFor="let tab of tabsDemo; let i = index">
    <ly-tab-label>{{ tab.label }}</ly-tab-label>
    <div class="content">
      {{ 'Content ' + i }}
      <ly-input>
        <input [(ngModel)]="tab.label">
      </ly-input>
    </div>
  </ly-tab>
</ly-tabs>
<ly-input class="selected-index">
  <input [(ngModel)]="selectedIndex" type="number">
</ly-input>
<br />
<button ly-button (click)="addTab()">add tab</button>
<ly-tabs [(selectedIndex)]="selectedIndex" bg="#00bcd4" color="#fff">
  <ly-tab *ngFor="let tab of tabs; let i = index">
    <ly-tab-label>{{ 'Label ' + i }}</ly-tab-label>
    <div class="content">
      {{ 'Content ' + i }}
    </div>
  </ly-tab>
</ly-tabs>
<!-- <div ly-ripple ly-ripple-disabled="true">hi</div> -->
