<button ly-button>Default</button>
<button ly-button color="primary">Primary</button>
<button ly-button color="accent">Accent</button>
<button ly-button color="warn">Warn</button>
<button ly-button disabled>Disabled</button>
<br />
<button ly-button outlined>Outlined</button>
<button ly-button color="primary" outlined>Primary</button>
<button ly-button color="accent" outlined>Accent</button>
<button ly-button color="warn" outlined>Warn</button>
<button ly-button disabled outlined>Disabled</button>
<br />
<button ly-button raised>Raised</button>
<button ly-button bg="primary" raised>Primary</button>
<button ly-button bg="accent" raised>Accent</button>
<button ly-button bg="warn" raised>Warn</button>
<button ly-button bg="warn" raised disabled>Disabled</button>
<br />
<button ly-button raised>Raised</button>
<button ly-button color="primary" raised>Primary</button>
<button ly-button color="accent" raised>Accent</button>
<button ly-button color="warn" raised>Warn</button>
<button ly-button color="warn" raised disabled>Disabled</button>
<p>
  custom
</p>
<button ly-button bg="pink" raised color="#FF4F8B">pink</button>
<button ly-button bg="primary" newRaised>newRaised</button>
<button ly-button color="accent" [newRaised]="[null, 'primary']">accent</button>
<button ly-button color="purple" [newRaised]="[1, 'purple']">purple</button>