<h4>one</h4>
<button ly-button>
  <ly-icon-button>
    <ly-svg src="assets/svg/Experiment"></ly-svg>
  </ly-icon-button>
</button>
<h4>with text</h4>
<button ly-button>
  <ly-icon-button>
    <ly-svg src="assets/svg/Experiment"></ly-svg>
  </ly-icon-button>
  Experiment
</button>
<button ly-button>
  Experiment
  <ly-icon-button>
    <ly-svg src="assets/svg/Experiment.svg"></ly-svg>
  </ly-icon-button>
</button>
<h4>hmm</h4>
<button ly-button class="item">
  Heart
  <ly-icon-button>
    <ly-svg src="assets/svg/Heart.svg"></ly-svg>
  </ly-icon-button>
</button>
<button ly-button class="item">
  Snow
  <ly-icon-button>
    <ly-svg src="assets/svg/Snow.svg"></ly-svg>
  </ly-icon-button>
</button>
