<h4>one</h4>
<button ly-button raised>
  <span ly-icon-button>
    <ly-icon src="assets/svg/Experiment"></ly-icon>
  </span>
</button>
<h4>with text</h4>
<button ly-button>
  <span ly-icon-button start>
    <ly-icon src="assets/svg/Experiment"></ly-icon>
  </span>
  <span end>Experiment</span>
</button>
<button ly-button>
  <span start>Experiment</span>
  <span ly-icon-button end>
    <ly-icon src="assets/svg/Experiment.svg"></ly-icon>
  </span>
</button>
<h4>hmm</h4>
<button ly-button class="item">
  <span start>Heart</span>
  <span ly-icon-button end>
    <ly-icon src="assets/svg/Heart.svg"></ly-icon>
  </span>
</button>
<button ly-button class="item">
  <span start>Snow</span>
  <span ly-icon-button end>
    <ly-icon src="assets/svg/Snow.svg"></ly-icon>
  </span>
</button>
