<grid gutter="16">
  <grid col="12">
    <div [className]="classes.item">col=12</div>
  </grid>
  <grid col="6">
    <div [className]="classes.item">col=6</div>
  </grid>
  <grid col="6">
    <div [className]="classes.item">col=6</div>
  </grid>
  <grid col="3">
    <div [className]="classes.item">col=3</div>
  </grid>
  <grid col="3">
    <div [className]="classes.item">col=3</div>
  </grid>
  <grid col="3">
    <div [className]="classes.item">col=3</div>
  </grid>
  <grid col="3">
    <div [className]="classes.item">col=3</div>
  </grid>
  <grid col>
    <grid gutter="16">
      <grid col="3">
        <div [className]="classes.item">col=3</div>
      </grid>
      <grid col>
        <div [className]="classes.item">col</div>
      </grid>
      <grid col="3">
        <div [className]="classes.item">col=3</div>
      </grid>
    </grid>
  </grid>
</grid>
