<ly-toolbar bg="accent">
  <button #_button class="material-icons" ly-icon-button [lyMenuTriggerFor]="_Menu">
    menu
  </button>
</ly-toolbar>
<ly-menu-deprecated #_Menu
(close)="_button.nativeElement.focus()"
[anchor-origin]="anchorOrigin"
[target-origin]="targetOrigin">
  <button ly-button ly-menu-deprecated-item *ngFor="let item of [{}, {}, {}]; let i = index" [lyMenuTriggerFor]="_Menu">
    item {{ i + 1 }}
  </button>
</ly-menu-deprecated>
<h4>anchor-origin</h4>
current state: 
{{ anchorOrigin | json }}
<ly-radio-group [(ngModel)]="anchorOrigin.vertical">
  <div>
    <h5>Vertical</h5>
    <ly-radio value="top">Top</ly-radio>
    <ly-radio value="center">Center</ly-radio>
    <ly-radio value="bottom">Bottom</ly-radio>
  </div>
</ly-radio-group>
<ly-radio-group [(ngModel)]="anchorOrigin.horizontal">
  <div>
    <h5>Horizontal</h5>
    <ly-radio value="left">Left</ly-radio>
    <ly-radio value="middle">Middle</ly-radio>
    <ly-radio value="right">Right</ly-radio>
  </div>
</ly-radio-group>
<h4>target-origin</h4>
current state: 
{{ targetOrigin | json }}
<ly-radio-group [(ngModel)]="targetOrigin.vertical">
  <div>
    <h5>Vertical</h5>
    <ly-radio value="top">Top</ly-radio>
    <ly-radio value="center">Center</ly-radio>
    <ly-radio value="bottom">Bottom</ly-radio>
  </div>
</ly-radio-group>
<ly-radio-group [(ngModel)]="targetOrigin.horizontal">
  <div>
    <h5>Horizontal</h5>
    <ly-radio value="left">Left</ly-radio>
    <ly-radio value="middle">Middle</ly-radio>
    <ly-radio value="right">Right</ly-radio>
  </div>
</ly-radio-group>

