<ly-drawer-container [withClass]="classes.drawerContainer">
  <ly-drawer [withClass]="classes.drawer" opened position="start" [mode]="mode" width="150px 0@XSmall" bg="background:primary" #drawer01="lyDrawer">
    <p>Hi!</p>
    <button ly-button (click)="drawer01.toggle()">close</button>
  </ly-drawer>
  <ly-drawer position="end" width="150px 48px@XSmall" bg="background:primary" #drawer02="lyDrawer">
    <p>Hi!</p>
    <button ly-button (click)="drawer02.toggle()">close</button>
  </ly-drawer>
  <ly-drawer-content [withClass]="classes.drawerContent">
    <div>
      <ly-radio-group [(ngModel)]="mode">
        <ly-radio value="over">over</ly-radio>
        <ly-radio value="side">side</ly-radio>
      </ly-radio-group>
      <div>
        <button ly-button (click)="drawer01.toggle()">toggle start</button>
        <button ly-button (click)="drawer02.toggle()">toggle end</button>
      </div>
    </div>
  </ly-drawer-content>
</ly-drawer-container>


