ly-drawer-container {
    height: 225px;
}
.drawer-demo {
    height: 100%;
    width: 125px;
}
ly-drawer-content {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}