<div class="actions">
  <button raised ly-button bg="primary" (click)="_fileInput.focus(); _fileInput.click()">
    <input #_fileInput type="file" (change)="cropping.selectInputEvent($event)" accept="image/*">
    <a ly-icon-button class="material-icons">image</a>
    Select File
  </button>
  <button raised ly-button bg="accent" *ngIf="cropping.isCropped">Upload</button>
</div>
<div class="resize-image">
  <button (click)="cropping.zoomIn()" ly-icon-button class="material-icons">zoom_in</button>
  <button (click)="cropping.zoomOut()" ly-icon-button class="material-icons">zoom_out</button>
  <button (click)="cropping.center()" ly-button>center</button>
  <button (click)="cropping.fit()" ly-button>fit</button>
  <button (click)="cropping.fitToScreen()" ly-button>fit to screen</button>
  <ly-cropping #cropping
  [config]="myConfig"
  (cropped)="oncropped($event)"
  (loaded)="onloaded()"
  (error)="onerror()">
    <span>Drag and drop image</span>
  </ly-cropping>
  <!-- <ly-cropping #cropping format="png" src="https://dummyimage.com/500x350/000/00ffd5.png"></ly-cropping> -->
  <!-- <ly-cropping [config]="myConfig" #cropping src="assets/img/Mountains-Blue.jpg"></ly-cropping> -->
  <button *ngIf="cropping.isLoaded" color="accent" (click)="crop()" ly-button>crop</button>
</div>
<img *ngIf="cropping.isCropped" [src]="cropping.result">
