<aui-app-bar></aui-app-bar>
<ly-drawer-container>
  <ly-drawer bg="background:primary" [width]="'230px 0@XSmall'" #nav="lyDrawer" [opened]="router.url !== '/'" [mode]="router.url !== '/' ? 'side' : 'over'" #_left [spacingTop]="'64px 56px@XSmall'">
    <ul *ngFor="let category of routesComponents" [withClass]="classes.drawerUl">
      <span lyTyp="subheading" gutterBottom>{{ category.name }}</span>
      <li *ngFor="let component of category.routes">
        <a [withClass]="classes.drawerButton" class="nav-button" ly-button [routerLinkActive]="classes.onLinkActive" [routerLink]="[category.route, component.route]">
          <span>{{ component.name }}</span>
          <ly-icon *ngIf="component.status" icon="Experiment"></ly-icon>
        </a>
      </li>
    </ul>
  </ly-drawer>
  <ly-drawer-content>
    <div class="app-container">
      <div class="demo">
        <app-title [route]="router.url"></app-title>
        <div class="docs-viewer">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ly-drawer-content>
</ly-drawer-container>
