:host {
  display: block;
}
.header {
  position: fixed;
  z-index: 11;
  width: 100%;
}
.drawer {
  height: calc(100% - 64px);
  ly-drawer {
    width: 230px;
    height: calc(100% - 64px);
    bottom: 0;
    padding: 1rem 0;
  }
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);
  .demo {
    max-width: 960px;
    flex: 1;
    padding: 96px 2rem;
    width: 100%;
  }
}
.logo {
  button {
    height: 64px;
    border-radius: 0;
    font-size: 20px;
  }
}
.items {
  button {
    display: block;
    height: 48px;
    text-align: left;
    width: 100%;
    border-radius: 0;
  }
}
.nav-button {
  display: flex;
  border-radius: 0;
  justify-content: flex-start;
}
.i-right {
  min-width: 36px;
  height: 36px;
  border-radius: 100%;
}
.content-menu {
  height: 36px;
  .menu-item {
    margin: 0 8px;
    width: 36px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    .item-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      div:nth-child(1) {
        width: 50%;
        height: 50%;
      }
      div {
        width: 40%;
        height: 40%;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }
}
.version {
  font-size: 61%;
  opacity: .7;
}
.av {
  font-size: 16px;
  font-family: Roboto;
}
::ng-deep .docs-viewer p {
  line-height: 1.5;
}
