<div>
  <ly-toolbar class="header" bg="primary" raised>
    <button ly-icon-button (click)="nav.toggle()" class="material-icons">
      menu
    </button>
    <ly-toolbar-item class="logo">
      <button ly-button color="primary:contrast" sensitive [routerLink]="['./']">
        Alyle UI
      </button>
    </ly-toolbar-item>
    <span lyHide="XSmall" class="version">v{{ version }}</span>
    <div [style.flex]="1"></div>
    <button ly-icon-button size="24px" (click)="changeScheme()">
      <ly-icon *ngIf="mode" src="assets/svg/theme/sun" [style.font-size.px]="36"></ly-icon>
      <ly-icon *ngIf="!mode" src="assets/svg/theme/moon" [style.font-size.px]="36"></ly-icon>
    </button>
    <a ly-icon-button target="_blank" rel="noopener" href="https://github.com/A-l-y-l-e/Alyle-UI" size="24px">
      <ly-icon src="assets/svg/social/social-color-1_logo-github"></ly-icon>
    </a>
  </ly-toolbar>
  <ly-drawer-container class="drawer">
    <ly-drawer [config]="{width: 230}" bg="background:primary" #nav="lyDrawer" [opened]="router.url !== '/'" [mode]="'side'" #_left class="items">
      <ul *ngFor="let category of routesComponents" [className]="navMenu">
        <span lyTyp="subheading">{{ category.name }}</span>
        <li *ngFor="let component of category.routes">
          <a class="nav-button" ly-button [routerLinkActive]="linkActive" [routerLink]="[category.route, component.route]">{{ component.name }}</a>
        </li>
      </ul>
    </ly-drawer>
    <ly-drawer-content>
      <div class="app-container">
        <div class="demo">
          <app-title [route]="router.url"></app-title>
          <div class="docs-viewer">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </ly-drawer-content>
  </ly-drawer-container>
</div>
