:host {
  display: block;
}
.header {
  position: fixed;
  z-index: 11;
  width: 100%;
}
.drawer {
  height: calc(100% - 64px);
  ly-drawer {
    width: 200px;
    width: 200px;
    height: calc(100% - 64px);
    bottom: 0;
  }
}
.app-container {
  height: 100%;
  .demo {
    margin: auto;
    max-width: 960px;
    padding: 96px 32px;
  }
}
.logo {
  cursor: pointer;
  button {
    height: 64px;
    border-radius: 0;
    font-size: 20px;
  }
}
.items {
  button {
    display: block;
    height: 48px;
    text-align: left;
    width: 100%;
    border-radius: 0;
  }
}
.nav-button {
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 0;
  height: 48px;
}
.i-right {
  min-width: 36px;
  height: 36px;
  border-radius: 100%;
}
.content-menu {
  height: 36px;
  .menu-item {
    margin: 0 8px;
    width: 36px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    .item-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      div:nth-child(1) {
        width: 50%;
        height: 50%;
      }
      div {
        width: 40%;
        height: 40%;
        display: inline-block;
        border-radius: 100%;
      }
    }
  }
}
.version {
  font-size: 60%;
  opacity: .60;
}
.category-name {
  opacity: .45;
  font-size: 14px;
  font-weight: 300;
  padding-left: calc(1em / 2);
}
.av {
  font-size: 16px;
  font-family: Roboto;
}
