<!-- <div ly-deep scale="1" shadowColor="primary">s</div>
<button ly-button color="colorText">hi</button> -->
<ly-core root color="colorText" bg="bgText">
  <div ly-deep class="header" scale="1" shadowColor="primary">
    <ly-toolbar bg="primary" color="#fff">
      <ly-icon-button (click)="nav.toggle()" *ngIf="!nav.sidenavState">
        <ly-svg src="assets/svg/ic_menu_48px.svg"></ly-svg>
      </ly-icon-button>
      <ly-toolbar-item class="logo">
        <button ly-button sensitive color="#fff" [routerLink]="['./']">
          Alyle UI
          <div class="version">v{{ version }}</div>
        </button>
      </ly-toolbar-item>
      <ly-toolbar-item *lyResponsive="{'min-width' : '720px'}">
        <a href="https://www.npmjs.com/package/alyle-ui" target="_blank" ly-button bg="#fff" color="primary">npm</a>
      </ly-toolbar-item>
      <div [style.flex]="1"></div>
      <ly-toolbar-item class="av">
        Angular version
        <div class="version">{{ angularVersion.full }}</div>
      </ly-toolbar-item>
      <button color="#fff" class="i-right" ly-button [lyMenuTriggerFor]="ThemeMenu">
        <ly-icon-button size="16px" *ngIf="!nav.sidenavState">
          <ly-svg class="force-color" size="24px" src="assets/svg/Brush.svg"></ly-svg>
        </ly-icon-button>
      </button>
      <ly-menu #ThemeMenu
      [anchor-origin]="{horizontal: 'left', vertical: 'center'}"
      [target-origin]="{horizontal: 'right', vertical: 'center'}">
        <div class="content-menu">
          <div class="menu-item" ly-ripple ly-ripple-sensitive color="colorText" *ngFor="let item of listColors" (click)="changePrimary(item)">
            <div class="item-container">
              <div ly-shadow [shadowColor]="theme.paletteOf(item.primary).color[500]" [bg]="theme.paletteOf(item.primary).color[500]"></div>
              <div ly-shadow [shadowColor]="theme.paletteOf(item.accent).color[500]" [bg]="theme.paletteOf(item.accent).color[500]"></div>
            </div>
          </div>
        </div>
      </ly-menu>
      <button color="#fff" class="i-right" ly-button aria-label="Config theme">
        <a ly-icon-button target="_blank" rel="noopener" href="https://github.com/A-l-y-l-e/Alyle-UI" size="16px" (click)="nav.toggle()" *ngIf="!nav.sidenavState">
          <ly-svg size="24px" src="assets/svg/social/social-color-1_logo-github.svg"></ly-svg>
        </a>
      </button>
    </ly-toolbar>
  </div>
  <ly-drawer-container class="drawer">
    <ly-drawer bg="main" #nav="lyDrawer" [opened]="routeState" [mode]="'side'" #_left class="items">
      <div *ngFor="let category of routesComponents">
        <span class="category-name">{{ category.name }}</span>
        <button ly-button class="nav-button" [routerLink]="[(category.name =='Components'?'/components/':'/') + component.route]" *ngFor="let component of category.routes">{{ component.name }}</button>
      </div>
    </ly-drawer>
    <ly-drawer-content>
      <div class="app-container">
        <div class="demo">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ly-drawer-content>
  </ly-drawer-container>
</ly-core>
