<h2>Minimal</h2>
<demo-view
[srcLabel]="'Basic button'"
[srcHtml]="'example-01'"
[srcTs]="'example-01'"
[srcCss]="'example-01'"
[srcTsModule]="'example-01'">
  <example-01></example-01>
</demo-view>
<h2>Raised</h2>
<demo-view
srcHtml="example-02"
srcTs="example-02"
srcCss="example-02"
srcTsModule="example-02">
  <example-02></example-02>
</demo-view>
<h2>With icons</h2>
<demo-view
srcHtml="button-example-03"
srcTs="button-example-03"
srcCss="button-example-03"
srcTsModule="button-example-03">
  <button-example-03></button-example-03>
</demo-view>
<h2>Experiments</h2>
<demo-view
srcHtml="button-example-04"
srcTs="button-example-04"
srcCss="button-example-04"
srcTsModule="button-example-04">
  <button-example-04></button-example-04>
</demo-view>
