<h2>Minimal</h2>
<p color="warn">
  Deprecated, instead use <a [routerLink]="['/components/text-field']">field</a>
</p>
<demo-view path="components/input-demo/input-demo-example-01">
  <input-demo-example-01></input-demo-example-01>
</demo-view>
<h2>Default value</h2>
<demo-view path="components/input-demo/input-demo-example-02">
  <input-demo-example-02></input-demo-example-02>
</demo-view>
<h2>With icons</h2>
<demo-view path="components/input-demo/input-demo-example-03">
  <input-demo-example-03></input-demo-example-03>
</demo-view>
<h2>Error State</h2>
<demo-view path="components/input-demo/input-example-04">
  <input-example-04></input-example-04>
</demo-view>
<h2>Experiments</h2>
<demo-view path="components/input-demo/input-example-05">
  <input-example-05></input-example-05>
</demo-view>
