<aui-package-status status="deprecated">
  Instead you can use the <a [routerLink]="['/components/field']">field</a>
</aui-package-status>
<h2>Minimal</h2>
<demo-view path="components/input-demo/input-demo-example-01">
  <input-demo-example-01></input-demo-example-01>
</demo-view>
<h2>Default value</h2>
<demo-view path="components/input-demo/input-demo-example-02">
  <input-demo-example-02></input-demo-example-02>
</demo-view>
<h2>With icons</h2>
<demo-view path="components/input-demo/input-demo-example-03">
  <input-demo-example-03></input-demo-example-03>
</demo-view>
<h2>Error State</h2>
<demo-view path="components/input-demo/input-example-04">
  <input-example-04></input-example-04>
</demo-view>
<h2>Experiments</h2>
<demo-view path="components/input-demo/input-example-05">
  <input-example-05></input-example-05>
</demo-view>
