<h2>Minimal</h2>
<demo-view
[srcHtml]="'input-demo-example-01'"
[srcTs]="'input-demo-example-01'"
[srcCss]="'input-demo-example-01'"
[srcTsModule]="'input-demo-example-01'">
  <input-demo-example-01></input-demo-example-01>
</demo-view>
<h2>Default value</h2>
<demo-view
[srcHtml]="'input-demo-example-02'"
[srcTs]="'input-demo-example-02'"
[srcCss]="'input-demo-example-02'"
[srcTsModule]="'input-demo-example-02'">
  <input-demo-example-02></input-demo-example-02>
</demo-view>
<h2>With icons</h2>
<demo-view
[srcHtml]="'input-demo-example-03'"
[srcTs]="'input-demo-example-03'"
[srcCss]="'input-demo-example-03'"
[srcTsModule]="'input-demo-example-03'">
  <input-demo-example-03></input-demo-example-03>
</demo-view>
<h2>Error State</h2>
<demo-view
[srcHtml]="'input-example-04'"
[srcTs]="'input-example-04'"
[srcCss]="'input-example-04'"
[srcTsModule]="'input-example-04'">
  <input-example-04></input-example-04>
</demo-view>
<h2>Experiments</h2>
<demo-view
[srcHtml]="'input-example-05'"
[srcTs]="'input-example-05'"
[srcCss]="'input-example-05'"
[srcTsModule]="'input-example-05'">
  <input-example-05></input-example-05>
</demo-view>
