<ly-toolbar [bg]="'primary'" [elevation]="3" [withClass]="classes.root" position="fixed">
  <button ly-button appearance="icon" [color]="'primary:contrast'">
    <ly-icon>menu</ly-icon>
  </button>
  <a ly-button [withClass]="classes.logo" [color]="'primary:contrast'" [sensitive]="true">
    My App
  </a>
  <div [style.flex]="1"></div>

  <button #_button ly-button [color]="'primary:contrast'" [lyMenuTriggerFor]="_MenuSuppor">
    <span lyTyp [noWrap]="true">Support</span>
  </button>
  <ng-template #_MenuSuppor let-M>
    <ly-menu [ref]="M">
      <span lyTyp="caption" color="text:secondary" [gutter]="true" [style.padding]="'0 14px'">Get help</span>
      <a
        ly-button
        ly-menu-item
        *ngFor="let item of supportList; let i = index"
        [href]="item.href"
        target="_blank"
        rel="noopener"
      >
        <ly-icon [icon]="item.icon" [withClass]="classes.supportMenuIcon"></ly-icon>
        <span>{{ item.label }}</span>
    </a>
    </ly-menu>
  </ng-template>

  <button #_button ly-button [color]="'primary:contrast'" [lyMenuTriggerFor]="_Menu" lyTooltip="Select a theme!">
    <ly-icon icon="Theme"></ly-icon>
    <span lyTyp [noWrap]="true" [withClass]="classes.themePickerText">{{ lyTheme.variables.name }}</span>
  </button>
  <ng-template #_Menu let-M>
    <ly-menu [ref]="M">
      <button
      ly-button
      ly-menu-item
      [color]="lyTheme.variables.name === themeName ? 'primary' : 'text'"
      *ngFor="let themeName of themes; let i = index"
      (click)="setTheme(themeName)"
      >
        <span
          [lyWidth]="24"
          [lyHeight]="24"
          *ngIf="themeManager.get(themeName) as theme"
        >
          <!-- Icons made by Freepik from www.flaticon.com -->
          <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
            <path style="fill:#F7F8FF;" d="M493.55,402.782c-24.851,62.233-106.267,77.655-152.519,28.922
              c-46.345-48.831-123.739-48.792-170.05-0.001c-46.293,48.776-127.729,33.25-152.566-29.034
              C-48.783,234.15,76.413,51.252,256.363,51.5C437.579,51.749,560.36,235.483,493.55,402.782z"/>
            <path style="fill:#EEEFFF;" d="M256,395.095c30.928-0.003,61.86,12.195,85.031,36.609c46.253,48.734,127.668,33.311,152.519-28.922
              c66.81-167.3-55.971-351.033-237.187-351.282c-0.121,0-0.242,0.002-0.363,0.002L256,395.095L256,395.095z"/>
            <!-- 3 -->
            <path [style.fill]="theme.primary.default" d="M310.963,160.924c0,30.345-24.654,55.033-54.958,55.033s-54.958-24.688-54.958-55.033
              s24.654-55.033,54.958-55.033S310.963,130.579,310.963,160.924z"/>
            <!-- 4 -->
            <path [style.fill]="theme.primary.default" d="M256,215.957c0.002,0,0.003,0,0.005,0c30.304,0,54.958-24.688,54.958-55.033
              s-24.654-55.032-54.958-55.032c-0.002,0-0.003,0-0.005,0V215.957z"/>
            <!-- 7 -->
            <path [style.fill]="theme.warn.default" d="M447.82,373.2c0,22.067-17.932,40.02-39.973,40.02c-22.042,0-39.974-17.953-39.974-40.02
              c0-22.068,17.932-40.021,39.974-40.021C429.888,333.179,447.82,351.133,447.82,373.2z"/>
            <!-- 5 -->
            <path [style.fill]="theme.accent.default" d="M421.848,251.827c0,30.345-24.654,55.033-54.958,55.033s-54.958-24.688-54.958-55.033
              s24.654-55.033,54.958-55.033S421.848,221.482,421.848,251.827z"/>
            <!-- 2 -->
            <path [style.fill]="theme.background.primary.default" d="M200.068,251.827c0,30.345-24.654,55.033-54.958,55.033s-54.958-24.688-54.958-55.033
              s24.654-55.033,54.958-55.033S200.068,221.482,200.068,251.827z"/>
            <!-- 6 -->
            <path [style.fill]="theme.accent.default" d="M366.884,306.859c0.002,0,0.003,0,0.005,0c30.304,0,54.958-24.688,54.958-55.033
              s-24.654-55.032-54.958-55.032c-0.002,0-0.003,0-0.005,0V306.859z"/>
            <!-- 1 -->
            <path [style.fill]="theme.background.tertiary" d="M145.105,306.859c0.002,0,0.003,0,0.005,0c30.304,0,54.958-24.688,54.958-55.033
              s-24.654-55.032-54.958-55.032c-0.002,0-0.003,0-0.005,0L145.105,306.859L145.105,306.859z"/>
            <!-- 8 -->
            <path [style.fill]="theme.warn.default" d="M407.847,413.22L407.847,413.22c22.042,0,39.974-17.953,39.974-40.02
              c0-22.068-17.932-40.021-39.973-40.021l0,0v80.041H407.847z"/>
          </svg>
        </span>
        <span [withClass]="classes.themePickerText">{{ themeName }}</span>
      </button>
    </ly-menu>
  </ng-template>

  <button ly-button [color]="'primary:contrast'" [appearance]="'icon'" (click)="lyTheme.toggleDirection()" lyTooltip="Toggle rtl/ltr">
    <ly-icon *ngIf="lyTheme.variables.direction === 'ltr'">format_textdirection_r_to_l</ly-icon>
    <ly-icon *ngIf="lyTheme.variables.direction === 'rtl'">format_textdirection_l_to_r</ly-icon>
  </button>
  <a ly-button appearance="icon" [color]="'primary:contrast'" target="_blank" rel="noopener" href="https://github.com/A-l-y-l-e/Alyle-UI">
    <ly-icon icon="Github"></ly-icon>
  </a>
</ly-toolbar>