<ly-core>
  <h4>textarea</h4>
  <ly-textarea [style.align-items]="position" #_message [(ngModel)]="message" placeholder="Hi..." floatLabel="Message" [disabled]="disabled" rows="5">
    <ly-before>
      <a ly-icon-button (click)="_message.focus()">
        <ly-svg src="assets/svg/ic_mail_outline_48px.svg"></ly-svg>
      </a>
    </ly-before>
  </ly-textarea>
  <button ly-button (click)="disabled = !!disabled === false ? true : false">disabled all</button>
  <button ly-button (click)="_message.focus()" [disabled]="disabled">focus</button>
  <button ly-button (click)="_message.select()" [disabled]="disabled">select</button>
  <br />
  <inline-text>position</inline-text>
  <ly-radio-group [(ngModel)]="position">
    <ly-radio value="flex-start">top</ly-radio>
    <ly-radio value="center" checked="true">center</ly-radio>
    <ly-radio value="flex-end">bottom</ly-radio>
  </ly-radio-group>
  <h4>input</h4>
  <div [ngStyle]="styles">
    <ly-input [(ngModel)]="num" [style.width.px]="125" default="16" [disabled]="disabled" type="number" floatLabel="Size"></ly-input>
  </div>
  <div [ngStyle]="styles">
    <inline-text>Hi </inline-text><ly-input [(ngModel)]="text" [disabled]="disabled" floatLabel="Name"></ly-input>
  </div>
  <h4>colors</h4>
  <ly-input [(ngModel)]="value" color="primary" placeholder="primary"></ly-input>
  <ly-input [(ngModel)]="value" color="accent" placeholder="accent"></ly-input>
  <ly-input [(ngModel)]="value" color="other" placeholder="other"></ly-input>
  <ly-input [(ngModel)]="color" #_inputColor [color]="color" [floatLabel]="color"></ly-input>
  <button ly-button (click)="changeColor(); _inputColor.focus()">
    Change
    <ly-icon-button>
      <ly-svg src="assets/svg/Brush.svg"></ly-svg>
    </ly-icon-button>
  </button>
</ly-core>
