<h2>Minimal</h2>
<demo-view
[srcHtml]="'tabs-example-01'"
[srcTs]="'tabs-example-01'"
[srcCss]="'tabs-example-01'"
[srcTsModule]="'tabs-example-01'">
  <tabs-example-01></tabs-example-01>
</demo-view>
<h2>Theming</h2>
<demo-view
[srcHtml]="'tabs-example-02'"
[srcTs]="'tabs-example-02'"
[srcCss]="'tabs-example-02'"
[srcTsModule]="'tabs-example-02'">
  <tabs-example-02></tabs-example-02>
</demo-view>
<h2>Experiments</h2>
<demo-view
[srcHtml]="'tabs-example-03'"
[srcTs]="'tabs-example-03'"
[srcCss]="'tabs-example-03'"
[srcTsModule]="'tabs-example-03'">
  <tabs-example-03></tabs-example-03>
</demo-view>
