<div fxDisplay="inline">
  <button ly-button raised outlined color="rgb(174, 213, 129)">
    <ly-icon icon="Experiment"></ly-icon>
  </button>
  <button ly-button raised outlined color="#FFD164">
    <span class="padding-rigth">Radiation</span>
    <ly-icon icon="Radiation"></ly-icon>
  </button>
</div>
<h4>Flex</h4>
<button ly-button fxAlign="between center" class="item">
  <span>Heart</span>
  <ly-icon icon="Heart"></ly-icon>
</button>
<button ly-button fxAlign="between center" class="item">
  <span>Snow</span>
  <ly-icon src="assets/svg/Snow"></ly-icon>
</button>
<button ly-button fxAlign="between center" class="item">
  <span>Image</span>
  <ly-icon color="#00bcd4">image</ly-icon>
</button>

