<p>
  raised
</p>
<button ly-button raised>button</button>
<p>
  simple
</p>
<button ly-button bg="primary" raised>primary</button>
<button ly-button bg="accent" raised>accent</button>
<button ly-button bg="warn" raised>warn</button>
<button ly-button bg="warn" raised disabled>disabled</button>
<p>
  from text
</p>
<button ly-button color="primary" raised>accent</button>
<button ly-button color="accent" raised>accent</button>
<button ly-button color="warn" raised>warn</button>
<button ly-button color="warn" raised disabled>disabled</button>

<p>
  custom raised
</p>
<button ly-button bg="primary" newRaised>newRaised</button>
<button ly-button color="accent" [newRaised]="[null, 'primary']">accent</button>
<button ly-button color="purple" [newRaised]="[1, 'purple']">purple</button>
