<ly-toolbar>
  <button #_button ly-icon-button [lyMenuTriggerFor]="_Menu">
    <ly-svg src="assets/svg/ic_menu_48px"></ly-svg>
  </button>
</ly-toolbar>
<ly-menu #_Menu
(close)="_button.nativeElement.focus()"
[anchor-origin]="{horizontal: 'middle', vertical: 'center'}"
[target-origin]="{horizontal: 'middle', vertical: 'center'}">
  <button ly-button ly-menu-item *ngFor="let item of [{}, {}, {}]; let i = index" [lyMenuTriggerFor]="_Menu">
    item {{ i + 1 }}
  </button>
</ly-menu>
<h4>anchor-origin</h4>
<ly-radio-group>
  <div>
    <h5>Vertical</h5>
    <ly-radio value="top">Top</ly-radio>
    <ly-radio value="center">Center</ly-radio>
    <ly-radio value="bottom">Bottom</ly-radio>
  </div>
  <div>
    <h5>Horizontal</h5>
    <ly-radio value="left">Left</ly-radio>
    <ly-radio value="middle">Middle</ly-radio>
    <ly-radio value="right">Right</ly-radio>
  </div>
</ly-radio-group>
<h4>target-origin</h4>
<ly-radio-group>
  <ly-radio value="option1">label 1</ly-radio>
  <ly-radio value="option2">label 2</ly-radio>
  <ly-radio value="option2">label 2</ly-radio>
</ly-radio-group>
