<h1>Get Started</h1>
<p bg="warn" color="auto" class="disclaimer" raised>
  Disclaimer: This is a beta version. The API can change only if necessary, I recommend that you use it in new projects.
</p>
<h3>1. Install Alyle UI</h3>

<prism language="bash" code="yarn add @alyle/ui"></prism>

<p>or</p>

<prism language="bash" code="npm i @alyle/ui"></prism>

<h3>2. Import AlyleUIModule in AppModule</h3>

<prism language="typescript" [code]="code"></prism>

<h3>3. Install HammerJs</h3>

<prism language="bash" code="yarn add hammerjs"></prism>

<p>or</p>

<prism language="bash" code="npm i hammerjs"></prism>

<h4>Import in src/main.ts</h4>

<span prism language="typescript" code="import 'hammerjs';"></span>

<h3>And Install ChromaJS</h3>

<prism language="bash" code="yarn add chroma-js"></prism>

<p>or</p>

<prism language="bash" code="npm i chroma-js"></prism>
