<h1>Get Started</h1>
<p bg="warn" color="auto" class="disclaimer" raised>
  Disclaimer: This is a beta version. The API can change only if necessary, I recommend that you use it in new projects.
</p>
<h3>1. Install Alyle UI</h3>

<prism language="bash" code="yarn add @alyle/ui" bg="codeBg" color="codeColor"></prism>

<p>or</p>

<prism language="bash" code="npm i @alyle/ui" bg="codeBg" color="codeColor"></prism>

<h3>2. Import AlyleUIModule in AppModule</h3>

<prism language="typescript" [code]="code" bg="codeBg" color="codeColor"></prism>

<h3>3. Install HammerJs</h3>

<prism language="bash" code="yarn add hammerjs" bg="codeBg" color="codeColor"></prism>

<p>or</p>

<prism language="bash" code="npm i hammerjs" bg="codeBg" color="codeColor"></prism>

<h4>Import in src/main.ts</h4>

<span prism language="typescript" code="import 'hammerjs';" bg="codeBg" color="codeColor"></span>

<h3>And Install ChromaJS</h3>

<prism language="bash" code="yarn add chroma-js" bg="codeBg" color="codeColor"></prism>

<p>or</p>

<prism language="bash" code="npm i chroma-js" bg="codeBg" color="codeColor"></prism>
