<h4>Color: {{ color }}</h4>
<button ly-button [color]="color">color</button>
<button ly-button [color]="color" raised="!">raised</button>
<button ly-button [bg]="color" raised color="#fff">bg</button>
<button ly-button class="item" (click)="changeColor()">
  Change
  <ly-icon-button>
    <ly-svg src="assets/svg/Brush.svg"></ly-svg>
  </ly-icon-button>
</button>
<h4>Raised{{ raisedState !== undefined ? ': ' + raisedState : raisedState }}</h4>
<button ly-button [color]="color">color</button>
<button ly-button [color]="color" [raised]="raisedState">raised</button>
<button ly-button [bg]="color" [raised]="raisedState" color="#fff">bg</button>
<button ly-button class="item" (click)="raisedState = raisedState === true ? false : (raisedState === false ? '!' : true)">
  <span start>Change</span>
  <span ly-icon-button end>
    <ly-svg src="assets/svg/Brush.svg"></ly-svg>
  </span>
</button>

<h4>Auto contrast</h4>

<span bg="accent" color="auto">hello</span>
<button ly-button bg="accent" color="auto">button</button>
