<h4>Color: {{ color }}</h4>
<button ly-button [color]="color">color</button>
<button ly-button [color]="color" raised>raised</button>
<button ly-button [bg]="color" raised color="#fff">bg</button>
<button ly-button class="item" (click)="changeColor()">
  <span start>Change</span>
  <span ly-icon-button end>
    <ly-icon src="assets/svg/Brush.svg"></ly-icon>
  </span>
</button>
<h4>Raised{{ raisedState !== undefined ? ': ' + raisedState : raisedState }}</h4>
<button ly-button [raised]="raisedState">color</button>
<button ly-button [raised]="raisedState" [color]="color">raised</button>
<button ly-button [raised]="raisedState" [bg]="color" color="#fff">bg</button>
<button ly-button class="item" (click)="raisedState = !raisedState">
  <span start>Change</span>
  <span ly-icon-button end>
    <ly-icon src="assets/svg/Brush.svg"></ly-icon>
  </span>
</button>
