<ly-card
[bg]="status === 'beta' ? 'Amber' : 'warn'"
[color]="'auto'"
[elevation]="6"
[withClass]="classes.card">
  <ly-card-content [withClass]="classes.icon">
    <ly-icon *ngIf="status === 'beta'" icon="Experiment"></ly-icon>
    <ly-icon *ngIf="status === 'deprecated'">error</ly-icon>
  </ly-card-content>
  <ly-card-content [withClass]="classes.cardContent">
    <div>
      Status: {{ status }}
      <br />
      <ng-template [ngIf]="status === 'deprecated'">This component is obsolete and will be removed in the next release.</ng-template>
      <ng-content></ng-content>
    </div>
  </ly-card-content>
</ly-card>
