:host {
  display: block;
}
.intra-container {
  text-align: center;
  .intra-content {
    a {
      margin: 8px;
    }
  }
}
.buttons {
  display: inline-flex;
  padding-top: 1em;
}
h2 {
  font-weight: 300;
}

h1 {
  font-family: 'Nunito', sans-serif;
  letter-spacing: -.04em;
}
