/* You can add global styles to this file, and also import other style files */
@import "theme.css";
@import "fira_code.scss";

ly-drawer::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}
ly-drawer::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}