/*
  #FDFFFC
*/

prism {
  display: block;
  padding: 1em;
}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
code[class*="language-"], pre[class*="language-"] {
  background: none;
  font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.hljs {
  color: #00193a;
}

.token.keyword,
.token.selector-tag,
.token.title,
.token.section,
.token.doctag,
.token.name,
.token.strong {
  font-weight: bold;
  color: #ff599c;
}

.token.comment {
  color: rgba(115, 129, 145, 0.79);
}

.token.string,
.token.title,
.token.section,
.token.built_in,
.token.literal,
.token.type,
.token.addition,
.token.tag,
.token.quote,
.token.name,
.token.selector-id,
.token.selector-class {
  color: #ff5085;
}

.token.meta,
.token.subst,
.token.symbol,
.token.regexp,
.token.attribute,
.token.deletion,
.token.variable,
.token.template-variable,
.token.link,
.token.bullet {
  color: #4c81c9;
}

.token.emphasis {
  font-style: italic;
}
.token.function {
  color: #4584ff;
}
.token.tag > .punctuation,
.token.attr-value > .punctuation:first-child {
  color: #39ADB5;
}
.token.attr-name {
  color: #FFB62C;
}
.token.attr-value,
.token.string {
  color: rgb(106, 36, 212);
}
.token.number {
  color: rgb(36, 212, 158);
}
