<button ly-icon-button class="material-icons">library_books</button>
<button ly-icon-button color="primary" class="material-icons">favorite</button>
<button ly-icon-button color="accent" class="material-icons">share</button>
<button ly-icon-button color="warn" class="material-icons">wallpaper</button>
<h2>Raised</h2>
<button ly-icon-button raised><ly-icon icon="Snow"></ly-icon></button>
<button ly-icon-button raised bg="primary"><ly-icon icon="Snow"></ly-icon></button>
<button ly-icon-button raised bg="accent"><ly-icon icon="Snow"></ly-icon></button>
<button ly-icon-button raised bg="warn"><ly-icon icon="Snow"></ly-icon></button>
