<ng-content></ng-content>
@if (isPkg) {
  @if (opts.length) {
    <div>
      <h2 lyTyp="headline" gutter>Options for Inputs</h2>
      @for (opt of opts; track opt) {
        <h2 lyTyp="title" gutter>{{ opt.name }}</h2>
        <ul>
          @for (item of opt.items; track item) {
            <li>
              <span lyTyp="subheading" gutter>{{ item }}</span>
            </li>
          }
        </ul>
      }
    </div>
  }
  <h2 lyTyp="headline" gutter>API</h2>
  <ul>
    <li>
      <a [routerLink]="['api/@alyle/ui/', pathPkg]">&#64;alyle/ui/{{ pathPkg }}</a>
    </li>
  </ul>
}
