.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
  font-size: 14px;
  text-align: center;
  white-space: pre-wrap;
  padding: 1em;
}